.faq-container {
  max-width: 2800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.faq-header {
  font-size: 32px;
  font-weight: 600;
  color: #222;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.faq-column {
  display: flex;
  flex-direction: column;
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.faq-question {
  background: none;
  border: none;
  font-size: 18px; /* Slightly smaller font size */
  color: #1e3a8a;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  padding: 10px 0; /* Reduce the padding to make the button more compact */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease, padding 0.3s ease;
}

.faq-question:hover {
  color: #db853f;
  padding: 10px 5px; /* Slight hover effect that reduces the button size */
}

.faq-question.active {
  font-weight: 600;
  color: #1e3a8a;
}

.faq-answer {
  padding: 30px 0;
  font-size: 20px;
  color: #555;
  display: none;
  transition: all 0.3s ease-in-out;
}

.faq-answer.active {
  display: block;
}

.icon {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.icon.active {
  transform: rotate(180deg); /* Rotate icon when active */
}

/* Keyframe animation for smooth fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq-answer p {
  animation: fadeIn 0.5s ease;
}
